{% extends 'main_base.html' %}


{% block content %}

<p>
  
<div class="jumbotron text-center myjumbo">
  <h1>CAVALIBA - Login</h1>
  <p>Connectez-vous</p> 
</div>

<form class="login form-signin" method="post" action="{% url 'login' %}">
      <label for="id_username" class="sr-only">Identifiant</label>
      <input type="text" id="id_username" class="form-control" name="username" placeholder="Identifiant" autofocus required>
      </p>
      <label for="id_password" class="sr-only">Mot de passe</label>
      <input type="password" id="id_password" name="password" class="form-control" placeholder="Mot de passe" required>
      {% csrf_token %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>    
</form> 


<!-- 
<p class="text-center font-italic">Nouveau ? Page d'inscription ICI</p>

 -->

{% endblock %}
