{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Cavaliba Sirene</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">

  <link rel="stylesheet" href="{% static 'app_sirene/app.css' %}">

</head>

<body>

<div class="container">

    <div class="row">
    {% include 'app_sirene/navbar.html' %} 
    </div>


    <div class="row" id="main">
      <div class="col-md-12">

      <!-- Messages Flash -->
      {% if messages %}
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>    
        {% endfor %}
      {% endif %}
      
      <!-- CONTENT -->
      {% block content %}  <!-- Content Goes here --> {% endblock content %}
      </div>
    </div>

</div>


<!-- Footer -->
<div class="container-fluid">
   <footer class="py-3 bg-grey">
   <hr> 
   <p class="m-0 text-dark text-center ">
   Copyright &copy; Cavaliba - Version 1.05 - Janvier 2020
   </p>
   </footer>
</div>


<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>