
<table class="table table-light table-hover table-striped table-bordered table-sm table-condensed">

    <thead class="thead-light">
      <tr>
        <th class="text-center">Couleur</th>
        <th class="text-center">Action</th>
        <th>Titre</th>
        <th>Priorité</th>
        <th>Début</th>
        <th>Services SI</th>
        <th>Sites / établissements</th>
        <th>Mise à jour</th>
      </tr>
    </thead>

    <tbody>
    {% for line in incidents %}

    <tr>

    <td class="text-center"> <!-- color circle -->

      {% if line.priority == 1 %}  <i class="fas fa-circle text-dark"></i>
      {% elif line.priority == 2 %}<i class="fas fa-circle text-danger"></i>
      {% elif line.priority == 3 %}<i class="fas fa-circle text-warning"></i>
      {% elif line.priority == 4 %}<i class="fas fa-circle text-success"></i>
      {% else %} <i class="fas fa-circle text-light"></i>
      {% endif %} 
      &nbsp;
      
    </td>

    <td class="text-center"> <!-- action -->

        <a href="{% url 'app_sirene:info_detail' pk=line.id %}">
        <i class="fas fa-book-open"></i> &nbsp; 
        </a>

        {% if user.is_authenticated %} 

        <a href="{% url 'app_sirene:info_edit' pk=line.id %}">
        <i class="fas fa-pencil-alt"></i> &nbsp; 
        </a>

        <a href="{% url 'app_sirene:notify_confirm' pk=line.id %}">
        <i class="fas fa-bullhorn"></i> &nbsp; 
        </a>

        {% endif %}

    </td>

    <td>
        <a href="{% url 'app_sirene:info_detail' pk=line.id %}">
        <b>{{ line.title }}</b>
        </a>
    </td>

      <!-- priority -->
      <td>
        {{ line.get_priority_display }}
      </td>


      <td>{{ line.start|date:"Y/m/d H:i:s" }}</td>
      <td>
           {% for item in line.services.all %}
           {{ item.name}} &nbsp;
           {% endfor %}
      </td>
      <td>
           {% for item in line.sites.all %}
           {{ item.name}} &nbsp;
           {% endfor %}
          </td>
      <td>{{ line.updated_on|date:"Y/m/d H:i:s" }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
