{% extends "app_sirene/base_nosidebar.html" %}
{% block content %}

<p>
<h5>Tests de notification</h5>
<p>

<form method="post" action="{% url 'app_sirene:notify_test' %}">
    {% csrf_token %}
    <input type="text" name="email">
    <input type="submit" value="Envoyer un email de test" class="btn btn-sm btn-danger mr-3">
</form>

<p>

<form method="post" action="{% url 'app_sirene:notify_test' %}">
    {% csrf_token %}
    <input type="text" name="sms">
    <input type="submit" value="Envoyer un SMS de test" class="btn btn-sm btn-danger mr-3">
</form>


{%endblock%}

