{% extends "app_sirene/base_nosidebar.html" %}
{% block content %}

<p>
<h5>Sites</h5>
<p>
    
{% if sites %}
<table class="table table-light table-hover table-striped table-bordered table-sm table-condensed">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">id</th>
        <th>Nom (Trigramme)</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>

    {% for line in sites %}
    <tr>
        <td class="text-center">{{ line.id }}</td>
        <td class="text-left">{{ line.name }}</td>
        <td class="text-left">{{ line.description }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% else %}
    <p>Pas de sites.</p>
{% endif %}

{%endblock%}

